/*
/*/
*.p
*.pyc
*.sh
*.pdf
!.gitignore
!utils.py
!/custom_environments/
!/prototype8/
!/prototype12/
!/nature_replicate/
!/gaussian_processes/
!/direct_policy_search/
!/bayesian_neural_network_edward/
!/policy_search_bayesian_neural_networks/
!/custom_environments/weights/*.p
!/continuous_policy_gradients/
!/more_gradfree_experiments.py
!/.scratch
